.home-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: calc(100vh - 120px); /* para dejar espacio al navbar y footer */
  
  text-align: center;
  padding: 20px;
}

.home-content {
  max-width: 600px;
}

.highlight {
  color: #3b82f6;
}

.home-content h1 {
  font-size: 2.5rem;
  margin-bottom: 10px;
}

.home-content p {
  font-size: 1.2rem;
  color: #333;
  margin-bottom: 30px;
}

.home-buttons {
  display: flex;
  justify-content: center;
  gap: 20px;
  flex-wrap: wrap;
}

.btn-primary,
.btn-secondary {
  padding: 12px 24px;
  font-size: 1rem;
  text-decoration: none;
  border-radius: 8px;
  transition: all 0.3s ease;
}

.btn-primary {
  background-color: #3b82f6;
  color: white;
}

.btn-primary:hover {
  background-color: #2563eb;
}

.btn-secondary {
  background-color: #f3f4f6;
  color: #111;
  border: 1px solid #ccc;
}

.btn-secondary:hover {
  background-color: #e5e7eb;
}
