.footer {
  background-color: #111;
  color: white;
  padding: 20px;
  text-align: center;
  width: 100%;
}

.redes {
  display: flex;
  justify-content: center;
  gap: 1rem;
  margin-top: 10px;
}

.redes a {
  color: white;
  text-decoration: none;
}

.redes a:hover {
  text-decoration: underline;
}

@media (max-width: 600px) {
  .redes {
    flex-direction: column;
    gap: 0.5rem;
  }
}
